.circle{
    margin: 12.5rem auto;
    width: 4rem;
    height: 4rem;
    border: 0.35rem solid var(--love-dark);
    border-radius: 50%;
    border-top-color: var(--gray-00);
    animation: spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}